a:hover {
  color: #f85898!important;
  text-decoration: none!important;
}


.white {
	
color: white!important;	
	
	
	
	
}


.Purple {
	  background-image: url("https://lostastronaut.ca/wallpaper.png");
  background-repeat: no-repeat;
	background-size: cover;
padding-bottom: 3em;	
	min-height: 90vh!important;
	
}

.normalContainer {
	
	
background-color: white!important;	
	
	
}

.text-center {
  text-align: center;
	
}

#icon {
	
padding-right: 1em;
	
font-size: 1.5em;

	
	
}

.headerOne {
height: 25vh;	
	
background-color:  #ffffff!important;	
	
	
}

#iconSpace {
	
	
padding-bottom: 2.5em;	
	
	
}



h1 {

color: #ffffff!important;

  line-height: 1.6;
	padding-top: 0.8em!important;
padding-bottom: 1em!important;
}


h2 {

color: #333333!important;
font-family: 'Roboto Mono', monospace!important;
 
  line-height: 1.6;
	padding-top: 2em!important;
	padding-bottom: 2em!important;
	font-weight: 700!important;
}

p {

color: #333333!important;
font-family: 'Roboto Mono', monospace!important;
 font-size: 1.0em!important;
font-weight: 400!important;

}



.container-fluid {
	
	
padding: 0!important;	
	
	
	
}

.container {
 
 
 padding-top: 5%;
 
}
