


#icon {
	
padding-right: 1em;
	
font-size: 1.5em;

	
	
}

#iconSpace {
	
	
padding-bottom: 2.5em;	
	
	
}



h1 {

color: #333333!important;
font-family: 'Press Start 2P', cursive!important;
 font-size: 1.1em!important;
  line-height: 1.6;
	padding-top: 1em!important;
}


h2 {

color: #333333!important;
font-family: 'Roboto Mono', monospace!important;
 font-size: 1.3em!important;
  line-height: 1.6;
	padding-top: 2em!important;
	padding-bottom: 2em!important;
	font-weight: 700!important;
}

p {

color: #333333!important;
font-family: 'Roboto Mono', monospace!important;
 font-size: 1.0em!important;
font-weight: 400!important;

}
body {
  
  
 background-color: #ffffff!important; 
  
}


.container-fluid {
	
	
padding: 0!important;	
	
	
	
}

.container {
 
 
 padding-top: 3em;
 padding-left: 3em;
padding-right: 3em;
	padding-bottom: 1em;
}
