.button {
 
  background-color: #ffff55!important;
 color: #0b0c21!important;
 
 
}

h1 {

color: #f85898!important;
font-family: 'Press Start 2P', cursive!important;
 font-size: 3em!important;
  padding-bottom: 2em!important;
}

p {

color: #f85898!important;
font-family: 'Press Start 2P', cursive!important;
 font-size: 1.0em!important;
  padding-bottom: 2em!important;

}
body {
  
  
 background-color: #0b0c21!important; 
  
}

.album {
  
 max-height: 700px!important; 
  padding-bottom: 2em!important;
  
}

.container {
  
  max-width:500px!important;
 padding-top: 3em; 
  
}
.content_center {
 margin-top: 25%;
  
}
