h1 {

color: #f85898!important;

  padding-bottom: 2em!important;
}

p {

color: #ffff55!important;

}
body {
  
  
 background-color: #282c59!important; 
  
}

.album {
  
 max-height: 700px!important; 
  
  
}

.container {
  
  
 padding-top: 10em; 
  
}
